:root {
    --neutral-10: rgba(255, 255, 255, 1);
    --neutral-100: rgba(10, 10, 10, 1);
    --neutral-20: rgba(245, 245, 245, 1);
    --neutral-30: rgba(237, 237, 237, 1);
    --neutral-40: rgba(224, 224, 224, 1);
    --neutral-50: rgba(194, 194, 194, 1);
    --neutral-60: rgba(158, 158, 158, 1);
    --neutral-70: rgba(117, 117, 117, 1);
    --neutral-80: rgba(97, 97, 97, 1);
    --neutral-90: rgba(64, 64, 64, 1);
    --primary-display-font-family: "Archivo", Helvetica;
    --primary-display-font-size: 40px;
    --primary-display-font-style: normal;
    --primary-display-font-weight: 700;
    --primary-display-letter-spacing: 0px;
    --primary-display-lg-font-family: "Archivo", Helvetica;
    --primary-display-lg-font-size: 48px;
    --primary-display-lg-font-style: normal;
    --primary-display-lg-font-weight: 600;
    --primary-display-lg-letter-spacing: 0px;
    --primary-display-lg-line-height: 120.00000476837158%;
    --primary-display-line-height: 120.00000476837158%;
    --primary-header1-bold-font-family: "Archivo", Helvetica;
    --primary-header1-bold-font-size: 32px;
    --primary-header1-bold-font-style: normal;
    --primary-header1-bold-font-weight: 700;
    --primary-header1-bold-letter-spacing: 0px;
    --primary-header1-bold-line-height: 120.00000476837158%;
    --primary-header1-font-family: "Archivo", Helvetica;
    --primary-header1-font-size: 32px;
    --primary-header1-font-style: normal;
    --primary-header1-font-weight: 400;
    --primary-header1-letter-spacing: 0px;
    --primary-header1-line-height: 120.00000476837158%;
    --primary-header1-medium-font-family: "Archivo", Helvetica;
    --primary-header1-medium-font-size: 32px;
    --primary-header1-medium-font-style: normal;
    --primary-header1-medium-font-weight: 500;
    --primary-header1-medium-letter-spacing: 0px;
    --primary-header1-medium-line-height: 120.00000476837158%;
    --primary-header2-bold-font-family: "Archivo", Helvetica;
    --primary-header2-bold-font-size: 28px;
    --primary-header2-bold-font-style: normal;
    --primary-header2-bold-font-weight: 700;
    --primary-header2-bold-letter-spacing: 0px;
    --primary-header2-bold-line-height: 120.00000476837158%;
    --primary-header2-font-family: "Archivo", Helvetica;
    --primary-header2-font-size: 28px;
    --primary-header2-font-style: normal;
    --primary-header2-font-weight: 400;
    --primary-header2-letter-spacing: 0px;
    --primary-header2-line-height: 120.00000476837158%;
    --primary-header2-md-font-family: "Archivo", Helvetica;
    --primary-header2-md-font-size: 28px;
    --primary-header2-md-font-style: normal;
    --primary-header2-md-font-weight: 500;
    --primary-header2-md-letter-spacing: 0px;
    --primary-header2-md-line-height: 120.00000476837158%;
    --primary-header3-bold-font-family: "Archivo", Helvetica;
    --primary-header3-bold-font-size: 25px;
    --primary-header3-bold-font-style: normal;
    --primary-header3-bold-font-weight: 700;
    --primary-header3-bold-letter-spacing: 0px;
    --primary-header3-bold-line-height: 120.00000476837158%;
    --primary-header3-font-family: "Archivo", Helvetica;
    --primary-header3-font-size: 25px;
    --primary-header3-font-style: normal;
    --primary-header3-font-weight: 400;
    --primary-header3-letter-spacing: 0px;
    --primary-header3-line-height: 120.00000476837158%;
    --primary-header3-md-font-family: "Archivo", Helvetica;
    --primary-header3-md-font-size: 25px;
    --primary-header3-md-font-style: normal;
    --primary-header3-md-font-weight: 500;
    --primary-header3-md-letter-spacing: 0px;
    --primary-header3-md-line-height: 120.00000476837158%;
    --primary-header4-bold-font-family: "Archivo", Helvetica;
    --primary-header4-bold-font-size: 22px;
    --primary-header4-bold-font-style: normal;
    --primary-header4-bold-font-weight: 700;
    --primary-header4-bold-letter-spacing: 0px;
    --primary-header4-bold-line-height: 120.00000476837158%;
    --primary-header4-font-family: "Archivo", Helvetica;
    --primary-header4-font-size: 22px;
    --primary-header4-font-style: normal;
    --primary-header4-font-weight: 400;
    --primary-header4-letter-spacing: 0px;
    --primary-header4-line-height: 120.00000476837158%;
    --primary-header4-md-font-family: "Archivo", Helvetica;
    --primary-header4-md-font-size: 22px;
    --primary-header4-md-font-style: normal;
    --primary-header4-md-font-weight: 500;
    --primary-header4-md-letter-spacing: 0px;
    --primary-header4-md-line-height: 120.00000476837158%;
    --primaryborder: rgba(181, 210, 253, 1);
    --primaryfocus: rgba(215, 231, 254, 1);
    --primaryhover: rgba(181, 210, 253, 1);
    --primaryhover-dark: rgba(96, 158, 251, 1);
    --primarymain: rgba(31, 118, 248, 1);
    --primarypressed: rgba(21, 81, 170, 1);
    --secondary-headline-bold-font-family: "Instrument Sans", Helvetica;
    --secondary-headline-bold-font-size: 20px;
    --secondary-headline-bold-font-style: normal;
    --secondary-headline-bold-font-weight: 700;
    --secondary-headline-bold-letter-spacing: 0px;
    --secondary-headline-bold-line-height: 120.00000476837158%;
    --secondary-headline-font-family: "Instrument Sans", Helvetica;
    --secondary-headline-font-size: 20px;
    --secondary-headline-font-style: normal;
    --secondary-headline-font-weight: 400;
    --secondary-headline-letter-spacing: 0px;
    --secondary-headline-line-height: 120.00000476837158%;
    --secondary-headline-md-font-family: "Instrument Sans", Helvetica;
    --secondary-headline-md-font-size: 20px;
    --secondary-headline-md-font-style: normal;
    --secondary-headline-md-font-weight: 500;
    --secondary-headline-md-letter-spacing: 0px;
    --secondary-headline-md-line-height: 120.00000476837158%;
    --secondary-paragraph-bold-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-bold-font-size: 16px;
    --secondary-paragraph-bold-font-style: normal;
    --secondary-paragraph-bold-font-weight: 600;
    --secondary-paragraph-bold-letter-spacing: 0px;
    --secondary-paragraph-bold-line-height: 120.00000476837158%;
    --secondary-paragraph-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-font-size: 16px;
    --secondary-paragraph-font-style: normal;
    --secondary-paragraph-font-weight: 400;
    --secondary-paragraph-letter-spacing: 0px;
    --secondary-paragraph-lg-bold-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-lg-bold-font-size: 18px;
    --secondary-paragraph-lg-bold-font-style: normal;
    --secondary-paragraph-lg-bold-font-weight: 600;
    --secondary-paragraph-lg-bold-letter-spacing: 0px;
    --secondary-paragraph-lg-bold-line-height: 120.00000476837158%;
    --secondary-paragraph-lg-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-lg-font-size: 18px;
    --secondary-paragraph-lg-font-style: normal;
    --secondary-paragraph-lg-font-weight: 400;
    --secondary-paragraph-lg-letter-spacing: 0px;
    --secondary-paragraph-lg-line-height: 120.00000476837158%;
    --secondary-paragraph-lg-md-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-lg-md-font-size: 18px;
    --secondary-paragraph-lg-md-font-style: normal;
    --secondary-paragraph-lg-md-font-weight: 500;
    --secondary-paragraph-lg-md-letter-spacing: 0px;
    --secondary-paragraph-lg-md-line-height: 120.00000476837158%;
    --secondary-paragraph-light-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-light-font-size: 16px;
    --secondary-paragraph-light-font-style: normal;
    --secondary-paragraph-light-font-weight: 400;
    --secondary-paragraph-light-letter-spacing: 0px;
    --secondary-paragraph-light-line-height: 120.00000476837158%;
    --secondary-paragraph-line-height: 120.00000476837158%;
    --secondary-paragraph-sm-bold-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-sm-bold-font-size: 14px;
    --secondary-paragraph-sm-bold-font-style: normal;
    --secondary-paragraph-sm-bold-font-weight: 600;
    --secondary-paragraph-sm-bold-letter-spacing: 0px;
    --secondary-paragraph-sm-bold-line-height: 120.00000476837158%;
    --secondary-paragraph-sm-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-sm-font-size: 14px;
    --secondary-paragraph-sm-font-style: normal;
    --secondary-paragraph-sm-font-weight: 400;
    --secondary-paragraph-sm-letter-spacing: 0px;
    --secondary-paragraph-sm-light-font-family: "Instrument Sans", Helvetica;
    --secondary-paragraph-sm-light-font-size: 14px;
    --secondary-paragraph-sm-light-font-style: normal;
    --secondary-paragraph-sm-light-font-weight: 400;
    --secondary-paragraph-sm-light-letter-spacing: 0px;
    --secondary-paragraph-sm-light-line-height: 120.00000476837158%;
    --secondary-paragraph-sm-line-height: 120.00000476837158%;
    --secondaryborder: rgba(56, 83, 123, 1);
    --secondaryfocus: rgba(72, 107, 158, 1);
    --secondaryhover: rgba(132, 160, 199, 1);
    --secondarymain: rgba(37, 55, 81, 1);
    --secondarypressed: rgba(24, 36, 53, 1);
    --surfacedefault: rgba(251, 252, 252, 1);
    --surfaceraised: rgba(255, 255, 255, 1);
    --surfacesunken: rgba(236, 244, 250, 1);
  }
  