.bg-image {
    background-image: url(../assets/images/image1.png); 
    width: 100%; 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
}

.ccontrast {
    background-color: #1F76F8;
    color: white;
}

.clight {
    background-color: #ECF4FA;
    color: #404040;
}